section {
  min-height: 100vh;
  background-size: cover;
}

@media (max-width: 1240px) {
  section {
    min-height: 60vh;
  }
}

@media (max-width: 640px) {
  section {
    min-height: 40vh;
  }
}

hr {
  width: 80%;
  border: 1px solid #646663;
}

.font-custom {
  font-size: xx-large;
  font-weight: bold;
}

.width-img {
  width: -webkit-fill-available;
}

.gap {
  gap: 20px;
  width: 80%;
}

.btn-count {
  background-color: #f0c386;
  color: white;
}

.btn-map {
  background-color: #f0c386;
  margin: 20px;
  margin-bottom: 50px;
  border: 2px solid #000000;

}

.margin-top {
  margin-top: 20px;
}

.margin-bottom {
  margin-bottom: 20px;
}

.font-count {
  font-size: 20px
}

.font-celebration {
  font-size: 25px;
  margin-bottom: 20px;
}

.margin-top-custom {
  margin-top: 130px;
}

.info-hotel {
  display: flex;
  flex-direction: column;
  font-size: 20px;
  font-weight: 600;
  margin-top: 10px;
}

.info-hotel--custom {
  display: flex;
  flex-direction: column;
  font-weight: 600;
  margin-top: 10px;
}

.font-bold {
  font-weight: bold;
}

.rsvp-container {
  background: #f0c386;
  padding: 15px;
  width: 80%;
  max-width: 450px;
  margin: 40px auto;
  text-align: center;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.08);
  border: 2px solid #000000;
  font-family: 'Prata', serif;
}

.rsvp-container p {
  font-size: 1.2rem;
  font-weight: 400;
  margin-bottom: 15px;
  color: #000000;
}

.input-rsvp {
  width: 100%;
  padding: 14px;
  border: 2px solid #d8c9b8;
  background: #fff;
  font-size: 1rem;
  color: #000000;
  outline: none;
  transition: 0.2s ease;
}

.input-rsvp::placeholder {
  color: #9c8f85;
}

.input-rsvp:focus {
  border-color: #b89f8a;
  background: #fffdfb;
}

.input-datos {
  width: 100%;
  max-width: 600px;
  margin: 0 auto 20px auto;
  text-align: left;
}

.input-datos p {
  font-size: 1.1rem;
  font-weight: 600;
  color: #000000;
  margin-bottom: 8px;
}

.input-datos input,
textarea {
  width: 90%;
  padding: 10px;
  font-size: 1.1rem;
  border: 2px solid #000000;
  background: content-box;
  outline: none;
  transition: 0.2s ease;
}

.input-datos input::placeholder {
  color: #9c8f85;
}

.input-datos input:focus {
  border-color: #b89f8a;
  background: #fffdfb;
}


.btn-rsvp {
  background: #d7b89c;
  color: #fff;
  padding: 14px 25px;
  font-size: 1.1rem;
  font-weight: 600;
  border: none;
  cursor: pointer;
  transition: 0.2s ease;
  font-size: 1.2rem;
  font-weight: 400;
  margin-bottom: 50px;
  color: #000000;
  background: #f0c386;
  max-width: 450px;
  text-align: center;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.08);
  border: 2px solid #000000;
  font-family: 'Prata', serif;
  margin-top: 10px;
}

.btn-rsvp:hover {
  background: #c7a88d;
  transform: scale(1.02);
}

.popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.45);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
}

.popup-box {
  background: url('../assets/img/backBoda.jpg') center/cover no-repeat;
  padding: 30px;
  width: 80%;
  max-width: 380px;
  text-align: center;
  box-shadow: 0 4px 12px rgba(0,0,0,0.15);
  animation: fadeIn 0.25s ease;
  color: #4a3b32; 
  border: 2px solid #e8dccb; 
}

.popup-box h3 {
  font-size: 1.3rem;
  margin-bottom: 10px;
  color: #000000;
}

.cuenta-text {
  font-size: 1.2rem;
  font-weight: 600;
  margin: 15px 0;
  color: #000000;
}

.btn-copy {
  background: #d7b89c;
  color: #fff;
  padding: 12px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  margin-bottom: 10px;
  font-size: 1rem;
}

.btn-copy:hover {
  background: #c7a88d;
}

.btn-close {
  background: #eee;
  color: #444;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  font-size: 1rem;
}

.btn-close:hover {
  background: #ddd;
}

/* ANIMACIÓN */
@keyframes fadeIn {
  from { opacity: 0; transform: scale(0.95); }
  to { opacity: 1; transform: scale(1); }
}
.copy-icon {
  top: 55px; 
  right: 15px;
  width: 28px;     
  height: 28px;
  cursor: pointer;
  opacity: 0.9;
  transition: 0.2s ease;
}

.copy-icon:hover {
  transform: scale(1.1);
  opacity: 1;
}

.num-count{
  display: flex;
    justify-content: space-between;
    align-items: center;
}

.margin-sugerencias{
  margin-top: 40px;
}

.accordion-container {
  width: 100%;
  max-width: 600px;
  display: contents;
  font-family: 'Prata', serif;
}

.accordion-item {
  background: url('../assets/img/backgroundBoda.jpg') center/cover no-repeat;
  margin-bottom: 15px;
  border: 2px solid #e8dccb;
  box-shadow: 0 3px 8px rgba(0,0,0,0.08);
  overflow: hidden; 
  cursor: pointer;
  transition: 0.2s ease;
}

/* CABECERA */
.accordion-header {
  padding: 18px 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.accordion-header span {
  font-size: 1.2rem;
  font-weight: 600;
  color: #000000;
}

/* FLECHA */
.arrow {
  transition: transform 0.3s ease;
}

.arrow.open {
  transform: rotate(180deg);
}

/* CONTENIDO INTERNO */
.accordion-content {
  padding: 15px 20px;
  color: #4a3b32;
  line-height: 1.5;
  animation: fadeIn 0.25s ease;
}

/* ANIMACIÓN */
@keyframes fadeIn {
  from { opacity: 0; transform: translateY(-5px); }
  to { opacity: 1; transform: translateY(0); }
}

.hoteles-container {
  display: flex;
  flex-direction: column;
  gap: 25px;
  margin-top: 20px;
}



/* Imagen */
.hotel-img {
  width: 100%;
  height: 180px;
  object-fit: cover;
  margin-bottom: 12px;
}

/* Título */
.hotel-title {
  font-size: 1.3rem;
  font-weight: 600;
  color: #000000;
  margin-bottom: 15px;
  text-align: center;
}

/* Botones */
.hotel-buttons {
  display: flex;
  justify-content: space-between;
  gap: 5px;
  margin-bottom: 30px;
}

.hotel-btn {
  flex: 1;
  text-align: center;
  padding: 10px 0;
  background: #f0c386;
  border: 2px solid #000000;
  color: #000000;
  text-decoration: none;
  transition: 0.2s ease;
  font-size: 13px;
}

.hotel-btn:hover {
  background: #f7f1e8;
  transform: scale(1.03);
}

